<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @bar_code.text %>
</p>
<p>
  <br/>
</p>


<%= link_to 'Edit', edit_bar_code_path(@bar_code) %> |
<%= link_to 'Back', bar_codes_path %>
